
/bower_components/*
/node_modules/*
.idea/*
public/javascripts/room.min.js

public/javascripts/lobby.min.js

public/javascripts/jquery.min.map

public/javascripts/jquery.min.js

public/javascripts/jquery-ui.min.js

public/javascripts/bootstrap.min.js

public/javascripts/angular.min.js.map

public/javascripts/angular.min.js

logs.log

bin/logs.log
