extends layout

block content
  form(id='registerForm', method='post', action='/register').block-panel
    h3.block-panel-heading Register new account
      input.form-control.credentials(type='text', name='name', placeholder='User Name', required, autofocus='')
      input.form-control.credentials(type='email', name='email', placeholder='Email address', required)
      input.form-control.credentials(type='password', name='password', placeholder='Password', minlength='5', required)
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Register

block scripts
  script(src='/javascripts/jquery.validate.min.js')
  script.
    $("#registerForm").validate();